# Virtual environments
env/
venv/
.venv/
.env/
env_dndndb/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs & database files
*.log
db.sqlite3
*.sqlite3

# Django-related ignores
/media/
/staticfiles/
local_settings.py
.env

# VS Code settings
.vscode/

# Node.js dependencies (if using frontend)
node_modules/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db